.library-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

/* Kartlar */
.library-grid > div {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center; /* ortala */
}

.library-grid > div:hover {
  transform: scale(1.02);
}

/* Resim: Sabit genişlik, yüksekliği otomatik */
.library-grid img {
  width: 180px; /* burayı istediğin gibi küçültebilirsin */
  height: auto;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

/* Film başlığı */
.library-grid h3 {
  font-size: 1rem;
  margin: 8px 0 0 0;
  text-align: center;
}

/* Kaldır Butonu */
.library-remove-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.library-remove-btn:hover {
  background-color: #b30f0f;
}

/* Responsive ayarlar */
@media (max-width: 900px) {
  .library-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .library-grid {
    grid-template-columns: 1fr;
  }
}

/*MODAL LİBRARY CSS*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

.modal-content {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
  color: #fff;
  position: relative;
}

.modal-content iframe {
  width: 100%;
  height: 400px;
  border-radius: 8px;
}
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.modal-close-button:hover {
  background: #7a0c0c;
  transform: scale(1.1);
  transition: 0.3s;
}

/* Tablet için */
@media (max-width: 768px) {
  .modal-content iframe {
    height: 300px;
  }

  .modal-content {
    padding: 15px;
  }

  .modal-content h2 {
    font-size: 20px;
  }

  .modal-content p {
    font-size: 16px;
  }

  .modal-content button {
    font-size: 16px;
    padding: 8px 14px;
  }
}

/* Telefon için */
@media (max-width: 480px) {
  .modal-content iframe {
    height: 220px;
  }

  .modal-content h2 {
    font-size: 18px;
  }

  .modal-content p {
    font-size: 14px;
  }

  .modal-content button {
    font-size: 14px;
    padding: 6px 12px;
  }
}
