body {
  background-color: #141414;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.headerCine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

.headerIcon {
  font-size: 30px;
}

.headerLink {
  display: flex;
  gap: 20px;
  align-items: center;
}

.headerLink a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.headerLink a:hover {
  font-size: 22px;
}
.navItem {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.navItem:hover {
  opacity: 0.8;
}

.navItem.active {
  color: #e50914;
  font-size: 22px;
}
